---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="box">
    <h1>BRUTAL</h1>
    <p>Astro + Static GitHub Pages</p>
    <a href="https://github.com/lastsymphony/brutal">SOURCE</a>
  </main>
</Layout>
